{% extends 'pass_rest_base.html' %}
{% load static %}

{% block content %}
    {% load widget_tweaks %}
    <div class="register-page">
      <div class="content">
        <div class="container">
          <div class="row">
            <div class="col-lg-5 col-md-5 ml-auto">
              <div class="info-area info-horizontal mt-5">
                <div class="icon icon-primary">
                  <i class="nc-icon nc-tv-2"></i>
                </div>
                <div class="description">
                  <h5 class="info-title">Marketing</h5>
                  <p class="description">
                    We've created the marketing campaign of the website. It was a very interesting collaboration.
                  </p>
                </div>
              </div>
              <div class="info-area info-horizontal mt-5">
                <div class="icon icon-primary" >
                  <i class="nc-icon nc-html5"></i>
                </div>
                <div class="description">
                  <h5 class="info-title">Fully Coded in HTML5</h5>
                  <p class="description">
                    We've developed the website with HTML5 and CSS3. The client has access to the code using GitHub.
                  </p>
                </div>
              </div>
              <div class="info-area info-horizontal">
                <div class="icon icon-info">
                  <i class="nc-icon nc-atom"></i>
                </div>
                <div class="description">
                  <h5 class="info-title">Built Audience</h5>
                  <p class="description">
                    There is also a Fully Customizable CMS Admin Dashboard for this product.
                  </p>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 mr-auto mt-lg-0">
              <div class="card card-signup text-center">
                <div class="card-header ">
                  <h4 class="card-title">Reset Password</h4>

                </div>

                <div class="card-body ">
                    {% if form %}
                  <form class="form" method="POST">
                    <p>Provide new password and confirm</p>
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text">
                          <i class="nc-icon nc-key-25"></i>
                        </span>
                      </div>
                      {% render_field form.new_password1 class="input form-control" type="password" placeholder="new password"%}
                    </div>
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text">
                          <i class="nc-icon nc-check-2"></i>
                        </span>
                      </div>
                      {% render_field form.new_password2 class="input form-control" type="password" placeholder="confirm new password"%}
                    </div>
                        {% csrf_token %}
                        <div class="card-footer ">
                          <input class="btn btn-info btn-round" type="submit" value="Reset Password">
                        </div>
                  </form>
                    {% else %}
                        <p>Oops! Seems your link has expired, please click <a href="{% url 'password_reset' %}">HERE</a> to resend link</p>
                    {% endif %}
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
      <footer class="footer footer-black  footer-white ">
        <div class="container-fluid">
          <div class="row">
            <nav class="footer-nav">
              <ul>
                <li><a href="https://www.creative-tim.com" target="_blank">Creative Tim</a></li>
                <li><a href="https://www.creative-tim.com/blog" target="_blank">Blog</a></li>
                <li><a href="https://www.creative-tim.com/license" target="_blank">Licenses</a></li>
              </ul>
            </nav>
            <div class="credits ml-auto">
              <span class="copyright">
                © <script>
                  document.write(new Date().getFullYear())
                </script>, made with <i class="fa fa-heart heart"></i> by Creative Tim
              </span>
            </div>
          </div>
        </div>
      </footer>
</div>
{% endblock %}