{% extends 'pass_rest_base.html' %}
{% load static %}

{% block content %}
    {% load widget_tweaks %}
    <div class="register-page">
      <div class="content">
        <div class="container">
          <div class="row">
            <div class="col-lg-4 col-md-auto ml-auto">
              <div class="info-area info-horizontal mt-2">
                <div class="icon icon-primary">
                  <i class="nc-icon nc-tv-2"></i>
                </div>
                <div class="description">
                  <h5 class="info-title">Marketing</h5>
                  <p class="description">
                    We've created the marketing campaign of the website. It was a very interesting collaboration.
                  </p>
                </div>
              </div>
              <div class="info-area info-horizontal mt-2">
                <div class="icon icon-primary" >
                  <i class="nc-icon nc-html5"></i>
                </div>
                <div class="description">
                  <h5 class="info-title">Fully Coded in HTML5</h5>
                  <p class="description">
                    We've developed the website with HTML5 and CSS3. The client has access to the code using GitHub.
                  </p>
                </div>
              </div>
              <div class="info-area info-horizontal mt-2">
                <div class="icon icon-primary" >
                  <i class="nc-icon nc-html5"></i>
                </div>
                <div class="description">
                  <h5 class="info-title">Fully Coded in HTML5</h5>
                  <p class="description">
                    We've developed the website with HTML5 and CSS3. The client has access to the code using GitHub.
                  </p>
                </div>
              </div>
            </div>

            <div class="col-lg-4 col-md-6 mr-auto mt-lg-0">
              <div class="card card-signup text-center">
                <div class="card-header ">
                  <h4 class="card-title">Password Reset Complete!</h4>

                </div>

                <div class="card-body ">
                  <form class="form" method="POST">

                      <p>Your password has been set. You may go ahead and <a href="{% url 'two_factor:login' %}">log</a> in now.</p>


                    <div class="form-check text-left">
                      <label class="form-check-label">
                        <input class="form-check-input" type="checkbox" checked>

                      </label>
                    </div>
                  </form>

                </div>

              </div>
            </div>
          </div>
        </div>
      </div>

</div>
{% endblock %}